<?xml version="1.0"?>
<launch>
<arg name="paused" default="false"/>

    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="iiwa" />
    <arg name="model" default="iiwa14"/>
    <arg name="verbose" default="false"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find by_passing)/worlds/abdomen_project/abdomen_model.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="verbose" value="$(arg verbose)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="physics" value="ode"/>
    </include>
<include file="$(find by_passing)/launch/huge_organs.launch">
 <node type="rviz" name="rviz" pkg="rviz" />

</launch>
